<md-content md-theme-watch layout-gt-sm="row" layout-padding>
    <form name="game">
        <h4>New Game</h4>
        <div class="row">
            <md-input-container class="md-block">
                <label>Template</label>
                <md-select ng-model="game.template" required>
                    <md-option ng-repeat="template in CreateC.gameTemplates" ng-value="template">{{template}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="row">
            <md-input-container class="md-block">
                <label>Minimum players</label>
                <md-select ng-model="game.minPlayers" required>
                    <md-option ng-repeat="minPlayers in CreateC.players" ng-value="{{minPlayers}}">{{minPlayers}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="row">
            <md-input-container class="md-block">
                <label>Maximum players</label>
                <md-select ng-model="game.maxPlayers" required>
                    <md-option ng-repeat="maxPlayers in CreateC.players" ng-value="{{maxPlayers}}">{{maxPlayers}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <md-button class="md-primary md-raised" ng-click="CreateC.addGame(game)">Create</md-button>
        <md-button class="md-raised" ng-click="CreateC.closeAddGamePopup()">Cancel</md-button>
    </form>
</md-content>