<md-nav-bar md-selected-nav-item="All" nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-click="DashC.setGameStateFilter('');DashC.setGame(null);DashC.firstPage()" name="select_all">
        All
    </md-nav-item>
    <md-nav-item md-nav-click="DashC.setGameStateFilter('username');DashC.setGame(null);DashC.firstPage()" name="page2">
        My Games
    </md-nav-item>
    <md-nav-item md-nav-click="DashC.setGameStateFilter('open');DashC.setGame(null);DashC.firstPage()" name="page3">
        Open
    </md-nav-item>
    <md-nav-item md-nav-click="DashC.setGameStateFilter('playing');DashC.setGame(null);DashC.firstPage()" name="page4">
        Playing
    </md-nav-item>
    <md-nav-item md-nav-click="DashC.setGameStateFilter('finished');DashC.setGame(null);DashC.firstPage()" name="page5">
        Finished
    </md-nav-item>
</md-nav-bar>

<md-content layout="row" layout-xs="column">

    <div layout="column" flex>

        <md-table-container>
            <table data-md-table data-md-row-select="DashC.options.rowSelection" multiple="DashC.options.multiSelect"
                   data-ng-model="DashC.selected" md-progress="DashC.promise">
                <thead ng-if="!DashC.options.decapitate" md-head data-md-order="DashC.query.order">
                <tr md-row>
                    <th md-column md-order-by="createdBy.name"><span>Created by ...</span></th>
                    <th md-column md-numeric md-order-by="players.length"><span>Players</span></th>
                    <th md-column md:order:by="state"><span>Status</span></th>
                    <th md-column data-md-order-by="gameTemplate.id"><span>Template</span></th>
                    <th md-column data-md-order-by="createdOn"><span>Datum</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr ng-click="DashC.setGame(game);DashC.showDetails();" md-row md-select="game" md-select-id="createdOn"
                    md-on-deselect="deselect" x-md-auto-select="DashC.options.autoSelect"
                    data-ng-repeat="game in filteredGameList = (DashC.games | gameState: DashC.gameStateFilter | orderBy: DashC.query.order) | limitTo: DashC.query.limit: (DashC.query.page - 1) * DashC.query.limit">
                    <td md-cell><strong>{{game.createdBy.name}}</strong><br/>{{game.createdBy._id}}</td>
                    <td md-cell>{{game.players.length}}</td>
                    <td md-cell>{{game.state}}</td>
                    <td md-cell>{{game.gameTemplate.id}}</td>
                    <td md-cell>{{game.createdOn | date:'yyyy-MM-dd HH:mm'}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <data-md-table-pagination md-limit="DashC.query.limit" md-limit-options="DashC.options.limitOptions"
                                  md-page="DashC.query.page" md-total="{{filteredGameList.length}}"
                                  md-page-select="DashC.options.pageSelect"
                                  md-boundary-links="DashC.options.boundaryLinks"></data-md-table-pagination>
    </div>

</md-content>
