<md-content md-theme-watch layout-gt-sm="row" layout-padding>
    <form name="newGame">

        <h4>#{{DetailsC.game.id}}</h4>

        <md-card>
            <md-list>
                <md-list-item ng-repeat="player in DetailsC.game.players">
                    {{player.name}}
                </md-list-item>
            </md-list>
        </md-card>

        <md-button class="md-raised md-primary md-hue-2" ng-click="DetailsC.joinGame(DetailsC.game.id)"
                   ng-disabled="DetailsC.playerInGame(DetailsC.game,username)"
                   ng-if="DetailsC.game.state == 'open'">Join
        </md-button>
        <md-button class="md-raised md-primary md-hue-2" ng-click="DetailsC.startGame(DetailsC.game.id)"
                   ng-disabled="DetailsC.game.createdBy._id!=username"
                   ng-if="DetailsC.game.state == 'open'">Start
        </md-button>
        <md-button class="md-raised md-primary md-hue-2" ng-click="DetailsC.playGame(DetailsC.game.id)"
                   ng-disabled="!DetailsC.playerInGame(DetailsC.game,username)"
                   ng-if="DetailsC.game.state == 'playing'">Play
        </md-button>
        <md-button class="md-raised md-primary md-hue-2" ng-click="DetailsC.spectateGame(DetailsC.game.id)"
                   ng-if="DetailsC.game.state == 'playing' || DetailsC.game.state == 'finished'">
            Spectate
        </md-button>

    </form>
</md-content>