$file_path: "../img/Mahjong_sprite_sheet_2.png";
$custom_right: 0;
$custom_down: 0;
$circles: 9;
$bamboos: 9;
$characters: 9;
$winds: North East South West;
$dragons: Green Red White;
$flowers: Plum Chrysantememum Orchid Bamboo;
$seasons: Spring Summer Autumn Winter;
$tilesuits: Bamboo Circle Character Dragon Wind Season Flower;
$tile_height: 89;
$tile_width: 73;

@import "mixins";

.tile {

	@include border-radius(16px);
	height: $tile_height + px;
	width: $tile_width + px;
	display: block;
	margin: 5px;
	position: relative;
	border: solid 1px #333;
	box-sizing: border-box;
	outline: none;

	&.boardItem {

		@include transform(25deg);
		position: absolute;
		margin:0;
		border-width: 3px;

		&:hover {
			border-color: #1e88e5;
		}

		&.selected {
			border-color: #f00;
		}

	}
 }

@each $suit in $tilesuits{
	@if $suit == Bamboo{
		@for $i from 1 through $bamboos{
			.#{$suit+"_"+$i}{
				@extend .tile;
				$custom_right: ($i - 1)* $tile_width;
				background: #{'url('+$file_path+') -'+$custom_right+'px -'+$tile_height+'px'};
			}
		}
	}
	@if $suit == Circle{
		@for $i from 1 through $circles{
			.#{$suit+"_"+$i}{
				@extend .tile;
				$custom_right: ($i - 1)*$tile_width;
				background: #{'url('+$file_path+') -'+$custom_right+'px -'+$tile_height * 2+'px'};
			}
		}
	}
	@if $suit == Character{
		@for $i from 1 through $characters{
			.#{$suit+"_"+$i}{
				@extend .tile;
				$custom_right: ($i - 1)*$tile_width;
				background: #{'url('+$file_path+') -'+$custom_right+'px 0px'};
			}
		}
	}
	@if $suit == Dragon{
		$custom_down: 0;
		@each $dragon in $dragons{
			.#{$suit+"_"+$dragon}{
				@extend .tile;
				$custom_right: ($tile_width * 13);
				background: #{'url('+$file_path+') -'+$custom_right+'px -'+$custom_down+'px'};
			}
			$custom_down:($custom_down+$tile_height);
		}
	}
	@if $suit == Wind{
		$custom_right: ($tile_width * $circles);
		@each $wind in $winds{
			.#{$suit+"_"+$wind}{
				@extend .tile;
					background: #{'url('+$file_path+') -'+$custom_right+'px 0px'};
			}
			$custom_right: ($custom_right+$tile_width);
		}
	}
	@if $suit == Season{
		$custom_right: ($tile_width * $bamboos);
		@each $season in $seasons{
			.#{$suit+"_"+$season}{
				@extend .tile;
				$custom_down: $tile_height;
					background: #{'url('+$file_path+') -'+$custom_right+'px -'+$custom_down+'px'};
			}
			$custom_right: ($custom_right + $tile_width);
		}
	}
	@if $suit == Flower{
		$custom_right: ($tile_width * $circles);
		@each $flower in $flowers{
			.#{$suit+"_"+$flower}{
				@extend .tile;
				$custom_down: ($tile_height * 2);
				background: #{'url('+$file_path+') -'+$custom_right+'px -'+$custom_down+'px'};
			}
			$custom_right: ($custom_right + $tile_width);
		}
	}
	
}