<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">

        <span><strong>Welcome</strong> {{username}}</span>

        <span flex></span>

        <md-button class="md-raised" aria-label="New Game" ng-click="MenuC.showAddGamePopup()" ng-if="!playing">
            New Game
        </md-button>
        <md-button class="md-raised" aria-label="Dashboard" ng-click="MenuC.goToDashboard()" ng-if="playing">
            Dashboard
        </md-button>

        <md-button class="material-icons md-icon-button" aria-label="Settings" ng-click="MenuC.goToPreferences()">
            <icon class="material-icons">settings</icon>
        </md-button>

        <md-button class="material-icons md-icon-button" aria-label="Logout" ng-click="MenuC.logOut()">
            <icon class="material-icons">power_settings_new</icon>
        </md-button>
    </div>
</md-toolbar>

<!-- Show content toolbar -->
<md-content class="md-padding">
    <div ui-view name="menuContent" flex></div>
</md-content>